{% extends "base.html" %}

{% block page_header %}
<div class="passage-source">
    <i>The Aeneid</i> by Vergil
</div>
<div class="passage-name">
    Intro
</div>
{% endblock %}

{% block page_content %}
<span id="1" onclick="getWordData(this)">ARMA</span>
<span id="2" onclick="getWordData(this)">virumque</span>
<span id="3" onclick="getWordData(this)">cano</span>,
<span id="5" onclick="getWordData(this)">Troiae</span>
<span id="6" onclick="getWordData(this)">qui</span>
<span id="7" onclick="getWordData(this)">primus</span>
<span id="8" onclick="getWordData(this)">ab</span>
<span id="9" onclick="getWordData(this)">oris</span>
<span id="10" onclick="getWordData(this)">Italiam</span>,
<span id="12" onclick="getWordData(this)">fato</span>
<span id="13" onclick="getWordData(this)">profugus</span>,
<span id="15" onclick="getWordData(this)">Laviniaque</span>
<span id="16" onclick="getWordData(this)">venit</span>
<span id="17" onclick="getWordData(this)">litora</span>,
<span id="19" onclick="getWordData(this)">multum</span>
<span id="20" onclick="getWordData(this)">ille</span>
<span id="21" onclick="getWordData(this)">et</span>
<span id="22" onclick="getWordData(this)">terris</span>
<span id="23" onclick="getWordData(this)">iactatus</span>
<span id="24" onclick="getWordData(this)">et</span>
<span id="25" onclick="getWordData(this)">alto</span>
<span id="26" onclick="getWordData(this)">vi</span>
<span id="27" onclick="getWordData(this)">superum</span>
<span id="28" onclick="getWordData(this)">saevae</span>
<span id="29" onclick="getWordData(this)">memorem</span>
<span id="30" onclick="getWordData(this)">Iunonis</span>
<span id="31" onclick="getWordData(this)">ob</span>
<span id="32" onclick="getWordData(this)">iram</span>;
<span id="34" onclick="getWordData(this)">multa</span>
<span id="35" onclick="getWordData(this)">quoque</span>
<span id="36" onclick="getWordData(this)">et</span>
<span id="37" onclick="getWordData(this)">bello</span>
<span id="38" onclick="getWordData(this)">passus</span>,
<span id="40" onclick="getWordData(this)">dum</span>
<span id="41" onclick="getWordData(this)">conderet</span>
<span id="42" onclick="getWordData(this)">urbem</span>,
<span id="44" onclick="getWordData(this)">inferretque</span>
<span id="45" onclick="getWordData(this)">deos</span>
<span id="46" onclick="getWordData(this)">Latio</span>,
<span id="48" onclick="getWordData(this)">genus</span>
<span id="49" onclick="getWordData(this)">unde</span>
<span id="50" onclick="getWordData(this)">Latinum</span>,
<span id="52" onclick="getWordData(this)">Albanique</span>
<span id="53" onclick="getWordData(this)">patres</span>,
<span id="55" onclick="getWordData(this)">atque</span>
<span id="56" onclick="getWordData(this)">altae</span>
<span id="57" onclick="getWordData(this)">moenia</span>
<span id="58" onclick="getWordData(this)">Romae</span>.
{% endblock %}